<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns = "https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version = "5.0"
        metadata-complete = "false">

	<!--
	<filter>
    	<filter-name>ReadParamsIfFormEncodedFilter</filter-name>
    	<filter-class>gluser1357.ReadParamsIfFormEncodedFilter</filter-class>
  	</filter>
  
 	<filter-mapping>
	    <filter-name>ReadParamsIfFormEncodedFilter</filter-name>
	    <url-pattern>/*</url-pattern>
 	</filter-mapping>
 	-->

	<filter>
		<filter-name>Jersey</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jakarta.ws.rs.Application</param-name>		
	       	<param-value>gluser1357.MyResourceConfig</param-value>
	    </init-param>
    </filter>

	<filter-mapping>
		<filter-name>Jersey</filter-name>
		<url-pattern>/jersey/*</url-pattern>
	</filter-mapping>

	<filter>
    	<filter-name>MyFilter</filter-name>
    	<filter-class>gluser1357.MyFilter</filter-class>
  	</filter>
  
 	<filter-mapping>
	    <filter-name>MyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
 	</filter-mapping>

</web-app>
